<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .container {
            width: 70%;
        }

        a {
            display: inline-block;
        }
    </style>
    <title>Read(one)</title>
</head>
<body>
    <div class="container border mt-5 p-5 shadow-lg">
        <div class="row">
            <h1 class="text-left">TV Show {{show.id}}</h1>
            <a href="/shows" class="text-right col">Go Back</a>
        </div>

        <br>
        <br>
        <p class="text-left">Title: {{show.title}}</p>
        <p class="text-left">Network: {{show.network}}</p>
        <p class="text-left">Release Date: {{show.release_date}}</p>
        <p class="text-left">Description: {{show.description}}</p>
        <br>
        <br>
        <p class="text-left mb-5">Last Updated: {{show.updated_at}}</p>
        <div class="row text-left" style="width: 135px;">
            <a href="/shows/{{show.id}}/edit" class="col">Edit</a>
            <a href="/delete/{{show.id}}" class="col">Delete</a>
        </div>
    </div>
</body>
</html>